

    <header>
        <nav>
            <ul class="nav nav-pills">

                <li class="nav-item">
                    <a href="{{ url_for('index') }}" class="nav-link {% if index %} active {% endif %}">
                        Home
                    </a>
                    </li>

                <li class="nav-item">
                    <a href="{{ url_for('courses') }}" class="nav-link {% if courses %} active {% endif %}">
                        Classes
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('register') }}" class="nav-link {% if register %} active {% endif %}">
                        Register
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('login') }}" class="nav-link {% if login %} active {% endif %}">
                        Login
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('enrollment') }}" class="nav-link {% if enrollment %} active {% endif %}">
                        enrollment
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('user') }}" class="nav-link {% if user %} active {% endif %}">
                        User
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{{ url_for('dashboard1') }}" class="nav-link {% if dashboard1 %} active {% endif %}">
                        Dashboard 1
                    </a>
                </li>
                
                <li class="nav-item">
                    <a href="{{ url_for('dashboard2') }}" class="nav-link {% if dashboard2 %} active {% endif %}">
                        Dashboard 2
                    </a>
                </li>

            </ul>
        </nav>
        <hr style="clear:both">
    </header>